.about_content p {
  font-size: 16px;
  line-height: 1.7;
  color: #444;
}

.about_img-box img {
  /* box-shadow: 0 8px 20px rgba(0,0,0,0.15); */
}
@media (max-width: 768px) {
.about_content{
  margin-left: 25px;
}
}