.facility-card {
  background: #fff;
  border-radius: 18px;
  overflow: hidden;
  box-shadow: 0 8px 25px rgba(0, 0, 0, 0.12);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  height: 100%;
}

.facility-card:hover {
  transform: translateY(-8px);
  box-shadow: 0 14px 35px rgba(0, 0, 0, 0.18);
}

.facility-card img {
  width: 100%;
  height: 220px;
  object-fit: cover;
}

.facility-content {
  padding: 20px;
  text-align: center;
}

.facility-content h4 {
  font-size: 18px;
  font-weight: 600;
  color: #6a1b9a; /* kids-friendly purple */
  margin-bottom: 10px;
}

.facility-content p {
  font-size: 14px;
  color: #555;
  line-height: 1.6;
}




@media (max-width: 768px) {

 .facility-card {
    width: 100%;
    margin: 0 12px;
    padding: 0px;
  }

  .facility-card img {
    height: 200px;   /* reduce image height */
  }

  .facility-content {
    padding: 16px;
  }

  .facility-content h4 {
    font-size: 17px;
  }

  .facility-content p {
    font-size: 14px;
  }
.container1{
    padding: 0px;
}


}
